@font-face {
  font-weight: 400;
  font-family: "PTSans";
  font-style: normal;
  src: url("../fonts/PTSans-Regular.woff2") format("woff2"),
    url("../fonts/PTSans-Regular.woff") format("woff");
  font-display: swap;
}
